body
    background-color #2A2A2A
    color #999
    line-height 1.5
    text-shadow 0 0 1px black

    a
        color #00A4F9

        &:hover,
        &:focus,
        &:active
            color #00A4F9

    .margin-t-sm
        margin-top 20px

    .view-home
        @media screen and (min-width: 768px)
            margin-top 10vh

        .h3
            line-height 1.5
            font-size 20px

        img.myself
            display block
            max-width 100%
            width 150px
            margin-top 15px
            border solid 1px #4E4E4E
            box-shadow 0 0 1px black

            @media screen and (min-width: 768px)
                float right
                margin-top 28px

        .white
            color #CACACA
