body
    background-color #2A2A2A
    color #999
    line-height 1.5
    text-shadow 0 0 1px black

    a
        color #00A4F9

        &:hover,
        &:focus,
        &:active
            color #00A4F9

    .margin-t-sm
        margin-top 20px

    .view-home
        margin-top 10vh

        .h3
            line-height 1.5

        img.myself
            display block
            max-width 100%
            width 150px
            float right
            margin-top 28px
            border solid 1px #4E4E4E
            box-shadow 0 0 1px black

        .white
            color #CACACA
