extend layout

block vars
    - var view = 'cv'
    - var title = 'CV'
    - var description = 'My personal CV.'
    - var canonical = 'cv'
    - var styles = ['cv']

block content
    #cv
        .container
            section.row.mb-5
                .col-9
                    h1 Pierre de la Martinière
                    h2 Javascript Developer
                    address.address
                        .row.mb-2
                            .col-sm
                                | Avenue de Préfaully 4
                                br
                                | 1022 Chavannes-près-Renens
                                br
                                | Switzerland
                            .col-sm
                                | french, single
                                br
                                | born on April 20th, 1994

                        .row
                            .col-sm
                                table
                                    tr
                                        td cell:
                                        td +41 78 834 74 91
                                    tr
                                        td email:
                                        td pierre.de.la.martiniere(at)gmail(dot)com
                                    tr
                                        td skype:
                                        td pierre.de.la.martiniere
                                    tr
                                        td website:
                                        td
                                            a(href='https://pierrevanmart.com' target='_blank') https://pierrevanmart.com
                                    tr
                                        td github:
                                        td
                                            a(href='https://github.com/KeitIG' target='_blank') https://github.com/KeitIG

                .col-3
                    img(src='/images/myself.jpg' alt='myself' class='myself')

            section.row
                .col-sm
                    h3.mb-3 Experience

                    .row.mb-3
                        .col-sm-3.period
                            | Jan 2016 - May 2017
                        .col-sm-9
                            h5 Full-stack JavaScript developer
                            h6 Teleport.ninja
                            .desc.text-muted
                                p Teleport is a web video web supercharger that turns any video into a scrollable and rich experience. This project is mainly made with Meteor, using Blaze and MongoDB.

                    .row.mb-3
                        .col-sm-3.period
                            | Dec 2015 - Jan 2016
                        .col-sm-9
                            h5 Software Consultant
                            h6 Blue-Infinity
                            .desc.text-muted
                                p E-commerce solutions development

                    .row.mb-3
                        .col-sm-3.period
                            | Sep 2015 - Nov 2015
                        .col-sm-9
                            h5 Full-stack JavaScript developer
                            h6 Investivity
                            .desc.text-muted
                                p Freelance mandate for the realisation of a SPA (single page application) using ES6, React.js, Flux and d3.js.

                    .row.mb-3
                        .col-sm-3.period
                            | Mar 2015 - Jul 2015
                        .col-sm-9
                            h5 Web Developer
                            h6 Kainjoo
                            .desc.text-muted
                                p Websites creation, development, deployment & maintenance

                    .row.mb-3
                        .col-sm-3.period
                            | March 2014 - February 2014
                        .col-sm-9
                            h5 Web Developer
                            h6 Astate
                            .desc.text-muted
                                p Websites and Web applications creation, development, deployment & maintenance. Development of corporate IT solutions.

            section.row
                .col-sm
                    h3.mb-3 Skills

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 JavaScript
                            .text-muted
                                ul
                                    li Node.js
                                    li Full-stack frameworks: Meteor
                                    li View libraries: ReactJS, Blaze
                                    li Patterns: Flux (Vanilla, Redux)
                                    li HTML5 APIs: Canvas, SVG, Animation Timing, Drag and Drop, WebStorage, IndexedDB, Fullscreen
                                    li Others:
                                        ul
                                            li Data visualization: d3.js
                                            li Maps: Google Maps, Mapbox
                                            li Sockets: Socket.IO

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 HTML5/CSS3
                            .text-muted
                                ul
                                    li Frameworks: Bootstrap, Foundation
                                    li HTML preprocessors: Pug (formerly Jade), EJS, HandleBars/mustache.js
                                    li CSS preprocessors: Sass, Less, Stylus

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 PHP
                            .text-muted
                                em Please note I am not really interested in working with PHP anymore.
                                ul
                                    li Laravel, Wordpress, OOP

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 Others
                            .text-muted
                                ul
                                    li Version Control System: Git
                                    li Database
                                        ul
                                            li NoSQL MongoDB and derivatives: NeDB, LinvoDB3, IndexedDB/level-js
                                            li SQL: MySQL
                                            li WebSQL:
                                    li Others
                                        ul
                                            li Digital Ocean, AWS
                                            li Full server set-up (Debian/Ubuntu)
                                            li HTTP server: Nginx, Apache
                                            li SSL certificates
                                            li Webservices: RESTful

            section.row
                .col-sm
                    h3.mb-3 Projects and volunteering

                    .row.mb-3
                        .col-sm-3.period
                            | early 2015 - today
                        .col-sm-9
                            h5 Museeks
                            .text-muted
                                p Museeks simple, clean and cross-platform music player built on web technologies and focused on minimal but well-crafted features and design. It uses Node, Electron (formerly Atom Shell), React, Flux (Redux), Weback and LinvoDB3. It is open-sourced on Github.

                    .row.mb-3
                        .col-sm-3.period
                            | Sep 2014 - April 2016
                        .col-sm-9
                            h5 elementary
                            .text-muted
                                p elementary is an Ubuntu derivative created by designers and developers with the will to have a consistent ecosystem between every app of the distribution. I worked there in the web team, maintaining the website http://elementary.io
                                p Also, elementaryOS-fr is the french community that I'm still a part of, mainly as a maintainer.

            section.row
                .col-sm
                    h3.mb-3 Education

                    .row.mb-3
                        .col-sm-3.period
                            | 2012 - 2014
                        .col-sm-9
                            h5 Ecole Polytechnique Fédérale de Lausanne (Switzerland)
                            .text-muted
                                p (no graduation)

                    .row.mb-3
                        .col-sm-3.period
                            | 2009 - 2012
                        .col-sm-9
                            h5 Lycée de Pontlevoy (France)
                            .text-muted
                                p French scientific Baccalauréat (maths specialization, "Assez Bien" mention)

            section.row
                .col-sm
                    h3.mb-3 Languages

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 French
                            .text-muted
                                p Native or bilingual proficiency

                    .row.mb-3
                        .col-sm-3.period
                        .col-sm-9
                            h5 English
                            .text-muted
                                p Professional working proficiency
