extend layout

block content
    .view-home
        .row
            .col-sm-2.col-sm-offset-1
                img(src='/images/myself.jpg' alt='myself' class='myself')
            
            .col-sm-6.col-md-4

                h1.h3.white Hi ! I’m Pierre de la Martinière,

                h2.h3
                    | a little french guy,
                    br
                    | full-stack 
                    span.white  web developer
                    br
                    | but also a 
                    span.white musician 
                    |  and a 
                    span.white photographer
                    | .


                p.margin-t-sm
                    | make things is great, but seriously, collaboration is better.

                .links
                    a(href='https://github.com/KeitIG' title='What I code' target='_blank') Github
                    =', ' 
                    a(href='https://500px.com/pierrevanmart' title='What I streetshoot' target='_blank') 500px
                    =', ' 
                    a(href='https://linkedin.com/in/pierredelamartiniere' title='What I have done' target='_blank') LinkedIn
                    =', '
                    a(href='https://twitter.com/KeitIG' title='What I think' target='_blank') Twitter
                    =', ' 
                    a(href='https://plus.google.com/u/0/+PierrevanMart' title='mmh... what ?' target='_blank') Google+

                p.margin-t-sm
                    | made with coffee, my hands, and more coffee.
                    
                p
                    | I eat designers at breakfast.
