extend layout

block content
    .view-home
        .row
            .col-md-2.offset-lg-1.mb-3
                img(src='/images/myself.jpg' alt='myself' class='myself')

            .col-md-6.col-lg-5.mb-3

                h1.h3.white Hi ! I’m Pierre de la Martinière,

                h2.h3.mb-4
                    | a little french guy, currently living in Switerland
                    br
                    | full-stack
                    span.white  web developer
                    br
                    | but also a
                    span.white  musician
                    |  and a
                    span.white  photographer
                    | .


                p
                    | I eat designers at breakfast.

                .links.mb-4
                    a(href='https://github.com/KeitIG' title='What I code' target='_blank') Github
                    =', '
                    a(href='https://500px.com/pierrevanmart' title='What I streetshoot' target='_blank') 500px
                    =', '
                    a(href='https://linkedin.com/in/pierredelamartiniere' title='What I have done' target='_blank') LinkedIn
                    =', '
                    a(href='https://twitter.com/KeitIG' title='What I think' target='_blank') Twitter
                    =', '
                    a(href='https://plus.google.com/u/0/+PierrevanMart' title='mmh... what ?' target='_blank') Google+

                p
                    | write to me at pierredelamartiniere(at)gmail(dot)com.

            .col-md-3.stuff-list

                .stuff

                    h4.white current big project
                        =' '
                        span(class='fa fa-code')

                    .link-container
                        a(href='http://museeks.io' target='_blank' title='A cross platform music player') museeks
                        =' '
                        | (
                        a(href='https://github.com/KeitIG/museeks' target='_blank' title='Sources') sources
                        | )

                .stuff

                    h4.white latest pieces of code
                        =' '
                        span(class='fa fa-github')

                    .link-container
                        a(href='https://github.com/KeitIG/teeny-conf' target='_blank' title='A small npm package to handle config files in Node apps. Works fine with Electron and NW.js') teeny-conf

                    .link-container
                        a(href='https://github.com/KeitIG/express-boilerplate-for-lazy-people' target='_blank' title='A boilerplate for lazy people: node, express, jade, stylus, bootstrap, gzip, minify, force-domain') express-boilerplate-for-lazy-people

                    .link-container
                        a(href='https://github.com/KeitIG/react-simple-input' target='_blank' title='A simple text input for React') react-simple-input

                    .link-container
                        a(href='https://github.com/KeitIG/react-keybinding-component' target='_blank' title='A React keybinding component, usable with es6, no mixin') react-keybinding-component

                .stuff

                    h4.white latest street shots
                        =' '
                        span(class='fa fa-500px')

                    .link-container
                        a(href='https://500px.com/photo/125554081/hey-kid-by-pierre-de-la-martini%C3%A8re' target='_blank' title='Hey Kid !') Hey Kid !

                    .link-container
                        a(href='https://500px.com/photo/118835663/stage-door-by-pierre-de-la-martini%C3%A8re' target='_blank' title='Stage door') Stage door

                    .link-container
                        a(href='https://500px.com/photo/95509193/drunkchurch-by-pierre-de-la-martini%C3%A8re' target='_blank' title='Drunk Church') Drunk Church

                    .link-container
                        a(href='https://500px.com/photo/92353771/tim-by-pierre-de-la-martini%C3%A8re' target='_blank' title='Tim') Tim

                    .link-container
                        a(href='https://500px.com/pierrevanmart' target='_blank' title='See more street photos...') See more...
